# Dependencies
node_modules/

# Build output
dist/
build/

# Local env files
.env
.env*.local

# SvelteKit specific (if you move to Kit later)
.svelte-kit/

# IDE / System files
.DS_Store
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Vite / Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Workspace files
.lock-wbp